[user]
	name = Zoë Farmer
	email = zoe@dataleek.io
[github]
	user = thedataleek

[push]
	default = current
[pull]
	rebase = true
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
	autostash = true
[merge]
	stat = true
	summary = true
	conflictstyle = diff3
[diff]
	renames = true
	indentHeuristic = on
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	editor = nvim
[init]
	defaultBranch = main
[log]
	mailmap = true
[rerere]
	enabled = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	# shortcuts
	a = add
	b = branch
	c = commit -m
	ci = commit
	co = checkout
	cp = cherry-pick
	di = diff
	dic = diff --cached
	s = status
	st = status
	pl = pull
	ps = push
	pf = push --force-with-lease
	publish = push -u
	nit = commit --amend --no-edit
	praise = blame
	git = !exec git

	# log variants
	lg = log --all --graph --abbrev-commit --date=relative --pretty=format:'%C(bold blue)%h - %C(reset)%C(green)(%ar)%C(reset) - %s %C(dim)- %an%C(reset)%C(yellow)%d'
	lgb = log --graph --abbrev-commit --date=relative --pretty=format:'%C(bold blue)%h - %C(reset)%C(green)(%ar)%C(reset) - %s %C(dim)- %an%C(reset)%C(yellow)%d'
	graph = log --graph --decorate --oneline --pretty=format:"%h%x20%Cgreen%d%x20%Cred%an%x20%Cblue%ad%x20%Creset%s" --all --full-history --date=short
	hist = log --pretty=format:'%C(yellow)%h %ad%Creset | %s%C(bold red)%d%Creset [%C(bold blue)%an%Creset]' --graph --date=short
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	out = log origin..HEAD

	# branch management
	br = for-each-ref --sort=-committerdate --format='%(HEAD) %(refname:short)' refs/heads/
	lb = branch -v --sort=committerdate
	cleanup-branches = !sh -c 'git branch --merged | grep -v ^* | xargs -n 1 git branch -d'
	track = !sh -c 'git branch --track "$0" "origin/$0" && git checkout "$0"'

	# merge helpers
	touchdown = merge --no-ff
	td = merge --no-ff
	changed = diff --name-status -r
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
	lastauthor = log -1 --format='%Cgreen%an <%ae>'
	reauthor = commit --amend --reset-author -C HEAD
	ignored = "!git ls-files --others --exclude-standard"

# Machine-specific overrides (touch'd by install, never committed)
[include]
	path = ~/.gitconfig.local
